<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}" style="display: flex; align-items: center; text-decoration: none;">
        <img src="{{{uiRootPath}}}/img/logo-white.svg" alt="" class="logo-dark" style="height: 32px; margin-right: 10px;">
        <img src="{{{uiRootPath}}}/img/logo-black.svg" alt="" class="logo-light" style="height: 32px; margin-right: 10px;">
        <span>{{site.title}}</span>
      </a>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://imgcdn.dev">imgcdn.dev</a>
            <a class="navbar-item" href="https://linx.photos">Linx Photos</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/Linx-Photos">GitHub</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
